<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663185095239-vm3c8eou5ruqs0rccsm2kmobtlu93k4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663185095239-vm3c8eou5ruqs0rccsm2kmobtlu93k4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCmdrff-TtPApdaodTj0oMASPq4KBLS2Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>663185095239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WojciechMalinowski.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-be6e8</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-be6e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663185095239:ios:8dddf9e81c74a162</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-be6e8.firebaseio.com</string>
</dict>
</plist>